{% extends "base.html" %}

{% block content %}
  <h1>Positions lis</h1>
<a href="{% url 'position-create' %}" class="btn btn-primary mb-3">Add Position</a>
  <ul>
    {% for position in positions %}
      <li>
        {{ position.name }} <a href="{% url 'position-delete' position.pk %}" class="btn btn-danger" onclick="return confirm('spowoduje usunięcie wszystkich pracowników przypisanych do tego stanowiska');">Delete</a>
      </li>
    {% empty %}
      <li>No positions yet.</li>
    {% endfor %}
  </ul>
{% endblock %}