{% extends "base.html" %}

{% block content %}
    <h1>Task name: {{ task.name }}</h1>
  <h2>Priority: {{ task.priority }}, Deadline {{ task.deadline }}</h2>
  <h1>Is completed: {{task.is_completed}}</h1>
  <ul>
      <li><strong>Task Type:</strong> {{ task.task_type }}</li>
      <li><strong>Description:</strong> {{ task.description }}</li>
      <li>
        <strong>Assignees:</strong>
        {% for worker in task.assignees.all %}
            {{ worker }}
            {% empty %}
            No assignees
        {% endfor %}
      </li>

  </ul>
  {% if perms.IT_task_manager.complete_task and not task.is_completed %}
      <a href="{% url 'task-complete' task.pk %}" class="btn btn-success">✅ Complete task</a>
  {% endif %}
  <a href="{% url 'task-update' task.pk %}" class="btn btn-primary">Update</a>
  <a href="{% url 'task-delete' task.pk %}" class="btn btn-danger" onclick="return confirm('Delete?');">Delete</a>

{% endblock %}


