{% extends "base.html" %}

{% block content %}
    <h1>User: {{ worker.username }}</h1>
  <h2>{{ worker.first_name }} {{ worker.last_name }}</h2>
  <ul>
      <li><strong>Username:</strong> {{ worker.username }}</li>
      <li><strong>Email:</strong> {{ worker.email }}</li>
      <li><strong>Position:</strong> {{ worker.position }}</li>

  </ul>
  <a href="{% url 'worker-update' worker.pk %}" class="btn btn-primary">Update</a>
  <a href="{% url 'worker-delete' worker.pk %}" class="btn btn-danger" onclick="return confirm('Delete?');">Delete</a>

{% endblock %}