<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="position-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
            🏠 Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'task-list' %}">
            📋 Task List
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'worker-list' %}">
            👥 Workers List
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'task-type-list' %}">
            🏷 Task Types
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'position-list' %}">
           💼 Position List
        </a>
      </li>

    </ul>
  </div>
</nav>