<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task-list' %}">
                    Zadania
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'worker-list' %}">
                    Pracownicy
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'task-type-list' %}">
                    Typy zadań
                </a>
            </li>
        </ul>
    </div>
</nav>